<div class="container">
  <button type="button" name="button"><a href="/">Home</a></button>
  <button type="button" name="button"><a href="/stores">Edit List of Stores</a></button>
  <button type="button" name="button"><a href="/brands">View all Brands</a></button>
