<div class ="container">
  <div class="navigation">
  <button type="button" name="button" class="btn"><a href="/"><h3>Home</h3></a></button>
  <button type="button" name="button" class="btn"><a href="/stores"><h3>Edit List of Stores</h3></a></button>
  <button type="button" name="button" class="btn"><a href="/brands"><h3>View All Brands</h3></a></button>
</div>

  <h3>Something went wrong. Enter a uniqie name, or add a price.</h3>
</div>
