<div class="container">
  <button type="button" name="button"><a href="/">Home</a></button>
  <button type="button" name="button"><a href="/stores/new">Add a New Store</a></button>
  <button type="button" name="button"><a href="/stores">Edit Stores</a></button>
  <button type="button" name="button"><a href="/brands">View all Brands</a></button>

<h3>View all stores</h3>
<ul>
  <% @stores.each() do |store| %>
    <li><a href="/stores/<%= store.id() %>"><%= store.name %></a></li>
    <% end %>
  </ul>
</div>
