<div class="container">
  <div class="navigation">
  <button type="button" name="button" class="btn"><a href="/"><h3>Home</h3></a></button>
  <button type="button" name="button" class="btn"><a href="/stores"><h3>Edit List of Stores</h3></a></button>
  <button type="button" name="button" class="btn"><a href="/brands"><h3>View All Brands</h3></a></button>
</div>
<br><br>
<h3>View all stores</h3>
<ul>
  <% @stores.each() do |store| %>
    <li><a href="/stores/<%= store.id() %>"><%= store.name %></a></li>
    <% end %>
  </ul>

<h3>Add a new store</h3>
  <form action='/stores/new' method='post'>
    <div class='form-group'>
      <label for='store_name'>Store Name: </label>
      <input type='text' name='name'>
    </div>
    <button type='submit' name='button' class='btn btn-success'>Add to Stores</button>
  </form>
</div>
